<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/">Mongo Scraper</a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/saved">Saved Articles</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-danger scrape-new">SCRAPE NEW ARTICLES!</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-danger clear">CLEAR ARTICLES!</a>
            </li>
        </ul>
    </div>
</nav>

<div class="jumbotron text-center">
    <div class="overlay">
    </div>
    <div class="background-image">
    </div>
    <div class="caption">
        <h1>Mongo Scraper</h1>
        <p>New York Times Edition</p>
    </div>
</div>
<div class="container-fluid article-container">
    {{#each articles}}
    <div data-_id="{{this._id}}" class="card">
        <div class="card-header">
            <h3>
                <a class="article-link" target="_blank" rel="noopener noreferrer"
                    href="{{this.url}}">{{this.headline}}</a>
                <a class="btn btn-success save">Save Article</a>
            </h3>
        </div>
        <div class="card-body">{{this.summary}}</div>
    </div>
    {{/each}} {{#unless articles.length}}
    <div class='alert alert-warning text-center'>
        <h4>Uh Oh. Looks like we don't have any new articles.</h4>
    </div>
    <div class="card">
        <div class="card-header text-center">
            <h3>What Would You Like To Do?</h3>
        </div>
        <div class="card-body text-center">
            <h4>
                <a class="scrape-new">Try Scraping New Articles</a>
            </h4>
            <h4>
                <a href="/saved">Go to Saved Articles</a>
            </h4>
        </div>
    </div>
    {{/unless}}
</div>

<footer class="footer">
    <div class="container">
        <p>New York Times Mongo Scraper</p>
    </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
<script src="/assets/javascript/index.js"></script>